.my-name {
  text-align: center;
  word-spacing: 10px;
  letter-spacing: 2px;
  background-color: rgb(225, 225, 225);
}
.nav-list {
  padding: 20px 20px;
  line-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer; 
}
.nav-items {
  padding: 10px;
  font-size: large;
  font-weight: 200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(225, 225, 225);
  border-radius: 50px;
  border: 2px solid black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.left-photo img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 5px dotted grey;
}
.main-info {
  position: relative;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 30px;
  font-weight: 100px;
  background-color: rgb(225, 225, 225);
}
.contacts {
  padding: 5px 5px;
}
.contact-list {
  list-style: none;
  font-size: large;
}
.skills {
  padding: 5 px 0px;
  align-items: flex-end;
}
.right-side{
  position: relative;
  margin: 5px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 100px;
}
.about-me, .code {
  margin: 5px 25px;
}
.education {
  padding: 5px 5px;
  list-style: none;
}
html {
  scroll-behavior: smooth; 
}
.footer-info {
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 50px;
  align-items: center;
  font-size: large;
  font-weight: 200px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  background-color:rgb(225, 225, 225);
  cursor: pointer; 
}
.my-git-hub {
  position: relative;
  padding-left: 40px;
}
.year {
  align-items: center;
}
.rsschool-link{
  align-items:flex-end;
  height: 60px;
}
.main-points {
  font-size: 20px;
  font-weight: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2,h1 {
  color: rgb(62, 133, 136);
}
